
manifest {
  description = 'Shotgun metagenomics assembly based gene prediction with Nextflow' 
  author = 'Olabiyi Aderemi Obayomi'
  nextflowVersion = '>=23.04.0'
}

docker {
    enabled = true
    runOptions='-u $(id -u):$(id -g)'
}

process {

    errorStrategy = 'retry'
    maxRetries = 3
    memory = '20 GB'

    withName: Trim_reads {
        //publishDir = "02.Trim_reads/" , mode: "copy"
        container = "olabiyi/metagenome:1.0"
        containerOptions = "-e PYTHON_EGG_CACHE=/tmp"
        cpus = 5
        memory = { 20.GB * task.attempt}
        disk = { 10.GB * task.attempt}
    }

    withLabel: Deconseq {
          //publishDir = "03.Remove_contaminants/" , mode: "copy"
          container = "olabiyi/metagenome:1.0"
          cpus = 2
          memory = { 40.GB * task.attempt}
          disk = { 30.GB * task.attempt}
    } 

    withName: Rewrite_pairs {
        //publishDir = "04.Rewrite_pairs/" , mode: "copy"
          container = "olabiyi/fastq_pair-aws:latest"
          cpus = 5
          memory = { 30.GB * task.attempt}
          disk = { 20.GB * task.attempt}
    }

    withName: Assemble_metagenome {
          //publishDir = "05.Assemble_metagenome/" , mode: "copy"
          container = "olabiyi/metagenome:1.0"
          cpus = 10
          memory = { 30.GB * task.attempt}
          disk = { 20.GB * task.attempt}
    }

    withName: Predict_protiens {
        //publishDir = "06.Predict_proteins/" , mode: "copy", pattern: "*_proteins*" 
          container = "olabiyi/metagenome:1.0"
          cpus = 5
          memory = { 30.GB * task.attempt}
          disk = { 30.GB * task.attempt}
    }

    withName: Protein_families {
          publishDir = "07.Protein_families/" , mode: "copy"
          container = "olabiyi/metagenome:1.0" 
          cpus = 5 
          memory =  { 30.GB * task.attempt}
          disk = { 30.GB * task.attempt}

    }

}


profiles {

local {

   process.executor = 'local'
   executor.local.cpus = 188
   executor.local.memory = '374 GB'
   params.reference= "${baseDir}/database/Pfam-A.hmm"
   params.csv_file = "${baseDir}/files.csv"
   params.bwa64 = "${baseDir}/bwa64"
   params.genomeDB = "${baseDir}/database/deconseq/"

}

cloud {

    process.executor = 'awsbatch'
    process.queue = 'TowerForge-XAJok1MiUZ01HB56yJ8XP-work'
    aws.region = 'us-east-1'
    workDir = 's3://biyi/metagenome/work/'
    
    params.reference="S3://biyi/metagenome/database/Pfam-A.hmm"
    params.csv_file = "S3://biyi/metagenome/files.csv"
    params.bwa64 = "S3://biyi/metagenome/bwa64"
    params.genomeDB = "S3://biyi/metagenome/database/deconseq/"

}

}


plugins {
    id 'nf-amazon'
}

